.icons1:hover{
    box-shadow: 0 0 5px 4px rgba(104, 43, 246, 0.941);
}
.icons2:hover{
    box-shadow: 0 0 5px 4px rgba(104, 43, 246, 0.941);
}
.icons3:hover{
    box-shadow: 0 0 5px 4px rgba(104, 43, 246, 0.941);
}
.icons4:hover{
    box-shadow: 0 0 5px 4px rgba(104, 43, 246, 0.941);
}
.icons5:hover{
    box-shadow: 0 0 5px 4px rgba(104, 43, 246, 0.941);
}
.icons6:hover{
    box-shadow: 0 0 5px 4px rgba(104, 43, 246, 0.941);
}
.icons1{
    margin-bottom:3%
}
.icons2{
    margin-bottom:3%
}
.icons3{
    margin-bottom:3%
}
.icons4{
    margin-bottom:3%
}
.icons5{
    margin-bottom:3%
}
.icons6{
    margin-bottom:3%
}

@media screen and (max-width:390px){
    .icons6{
        display:none;
    }
}