.Skills .icons{
    flex-direction:column;
    display:flex;
    margin-top:15%
  }
  .Skills{
    margin-top:15%;
    margin-bottom :10%;
  }

  @media screen and (max-width:390px){
   
    .Skills .fs{
flex-direction:column;
display:flex;
      width:300%;
    }
    .Skills .fs1{
      margin-right:35%;
    }
    .Skills .fs2{
      margin-top:-15%;
    }
    .Skills .fs3{
      margin-top:4%;
    }
    .Skills .fs4{
      margin-top:4%;
    }
    .Skills .fs5{
      margin-top:4%;
    }
    .Skills .fs7{
      margin-top:-15%;
    }
    .Skills .fs8{
      margin-top:4%;
    }

  }